<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>
      HighwayRating
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <ion-thumbnail slot="start">
    <img src="../assets/icon/e32-gray.png">
  </ion-thumbnail>&nbsp; &nbsp;&nbsp;
  <label>L/raya Baru Lembah Klang(NKVE)</label>
</div>


<table>
<tr>&nbsp;&nbsp;
<td><label id="r">5</label></td>
<td> <img class="images" src="../assets/image/download.png"></td>
<td>2review</td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<td id="wr" routerLink="/rating3">write</td>
</tr>
</table>
<br>
<br>

<ion-list>
  <ion-item >    
    <table>
    <tr><td>Julie</td></tr>      
    <tr><td><img  class="images" src="../assets/image/download.png"></td><td>1 month ago</td></tr>
    <tr><td>i use hightway daily</td></tr>   
    </table>
  </ion-item>
  <br>
  <ion-item >    
    <table>
    <tr><td>Julie</td></tr>      
    <tr><td><img  class="images" src="../assets/image/download.png"></td><td>1 month ago</td></tr>
    <tr><td>i use hightway daily</td></tr>   
    </table>
  </ion-item>
</ion-list>
<!-- <div id="write">
<div class="container2">
<label id="r">5</label>
<img class="images" src="../assets/image/download.png">
<ion-text>2review</ion-text>
</div>
<ion-text>write</ion-text>
</div> -->

</ion-content>
