<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Tollfare
    </ion-title>
  </ion-toolbar>
</ion-header>

<head>
  <meta http-equiv="refresh" content = "5; url=http://kadartol.llm.gov.my"/>
</head>

<h1>
  Will redirect you to http://kadartol.llm.gov.my/ in 5 seconds<br>
  <div class="text-center">
    <a href='http://kadartol.llm.gov.my/'><input type=button value='Go' class="button"></a> 
  </div>
  (Click on the button if didn't redirect to the website)
</h1>
